In [25]:
import io
import os
import pandas as pd


def read_vcf(path):
    with open(path, 'r') as f:
        lines = [l for l in f if not l.startswith('##')]
    return pd.read_csv(
        io.StringIO(''.join(lines)),
        dtype={'#CHROM': str, 'POS': int, 'ID': str, 'REF': str, 'ALT': str,
               'QUAL': str, 'FILTER': str, 'INFO': str},
        sep='    '
    ).rename(columns={'#CHROM': 'CHROM'})

In [26]:
file = 'eg.vcf'

eg = read_vcf(file)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [29]:
eg.columns
eg.head()

,#CHROM POS,ID,Unnamed: 2,REF ALT,QUAL FILTER INFO,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,FORMAT,NA00001,Unnamed: 13,NA00002,Unnamed: 15,NA00003
0,20,14370 rs6054257 G,A,29 PASS NS=3;DP=14;AF=0.5;DB;H2,NaN,"GT:GQ:DP:HQ 0|0:48:1:51,51 1|0:48:8:51,51 1...",None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN
1,20,17330 .,NaN,T,A,3,q10,NS=3;DP=11;AF=0.017,NaN,NaN,"GT:GQ:DP:HQ 0|0:49:3:58,50 0|1:3:5:65,3 0...",NaN,NaN,NaN,NaN,NaN,NaN
2,20,1110696 rs6040355 A,"G,T","67 PASS NS=2;DP=10;AF=0.333,0.667;AA=T;DB...",None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN
3,20,1230237 .,NaN,T,.,47 PASS NS=3;DP=13;AA=T,NaN,NaN,NaN,"GT:GQ:DP:HQ 0|0:54:7:56,60 0|0:48:4:51,51 0...",None,NaN,NaN,NaN,NaN,NaN,NaN
4,20,"1234567 microsat1 GTCT G,GTACT 50 PASS ...",NaN,NaN,NaN,NaN,GT:GQ:DP,0/1:35:4,0/2:17:2,1/1:40:3,None,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
eg['info']

KeyError: ignored

In [23]:
df = pd.DataFrame({'a': [2], 'b':[3]})
df['a']

0    2
Name: a, dtype: int64